@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variabilisation */
:root{
    /* --primary_color: , */
    --font_default : 10px; 
    --font_josefine: Josefin Sns;
}
*{
    border: 0;
    padding: 0;
    margin: 0;
}
html{
    overflow-x: hidden;
    font-size: var(--font_default);
    
}
body{
    font-size: var(--font_default);
    font-family: var(--font_josefine);

}